.about-me {
  overflow: clip;
  padding-block: clamp(1rem, 5vw, 10rem);
  margin-block-start: 6vh;
  background-color: light-dark(var(--stone-3), var(--stone-9));

  .container {
    inline-size: 100%;
    block-size: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);

    .section-start {
      grid-column: 1 / 7;
      grid-row: 1 / 3;
      position: relative;
      z-index: 1;

      @media (min-width: 992px) {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
      }

      h2 {
        font-weight: 700;
        width: max-content;
        text-box: trim-both cap alphabetic;
        /* font-size: clamp(2rem, 7vw, 7rem); */
        font-size: clamp(2.5rem, 7vw, 10rem);

        animation: auto linear aboutTitleReveal both;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;
      }
      p {
        margin-block: 1rem;
        max-width: 600px;

        /* animation: auto linear aboutTextReveal both;
        animation-timeline: view();
        animation-range: entry 0% cover 50%; */
      }
    }

    .section-end {
      grid-column: 1 / 7;
      grid-row: 3 / 6;
      justify-content: flex-end;

      @media (min-width: 992px) {
        grid-column: 2 / 7;
        grid-row: 2 / 6;
      }

      h3 {
        font-size: clamp(1.5rem, 5vw, 3rem);
        text-align: right;
        color: light-dark(var(--stone-2), var(--stone-10));
        margin-block-end: .5rem;

        > span {
          line-height: 1.3;
          --shadow-color: var(--accent);
        }
      }

      & ul {
        max-width: 900px;
        display: grid;
        gap: 3vh;
        margin: 0;
        padding: 0;
        list-style: none;
        padding-block-start: var(--size-3);

        @media (min-width: 768px) {
          grid-template-columns: 1fr 1fr;
        }

        li {
          --opacity: 30%;
          display: flex;
          /* aspect-ratio: 3 / 2; */
          justify-content: flex-start;
          align-items: center;
          /* color: var(--muted-text); */
          padding: var(--size-6);

          /* border-radius: 5px;
          @supports(corner-shape: squircle) {
            border-radius: 10px;
            corner-shape: squircle;
          } */

          /* --top: light-dark(var(--stone-1), var(--stone-8));
          --bottom: light-dark(var(--stone-4), var(--stone-10));
          background-image: linear-gradient(to top, var(--top), var(--bottom));
          box-shadow: var(--shadow-1), inset 0 1px 1px light-dark(white, var(--stone-7)); */

          background-color: light-dark(var(--stone-2), var(--stone-10));
          box-shadow: 0 1px 1px light-dark(var(--stone-4), var(--stone-11)), inset 0 1px 1px light-dark(var(--stone-0), var(--stone-7));

          border-radius: 25px;
          @supports(corner-shape: squircle) {
            border-radius: 50px;
            corner-shape: squircle;
          }

          animation: auto linear cardReveal both;
          animation-timeline: view();
          animation-range: 0 100%;

          &:hover {
            --opacity: 0%;
          }

          p {
            &::first-letter {
              -webkit-initial-letter: 2;
              initial-letter: 2;
              color: var(--accent);
              font-weight: 700;
              margin-inline-end: .5rem;
            }
          }
        }
      }
    }
  }
}

@keyframes aboutTitleReveal {
  from {
    translate: 0 20vh;
  }
  to {
    translate: 0 0;
  }
}

@keyframes aboutTextReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cardReveal {
  from {
    /* scale: .5; */
    translate: 30vw 0;
  }
  to {
    /* scale: 1; */
    translate: -30vw 0;
  }
}
