.about-me {
  padding: 12vh clamp(1rem, 5vw, 10rem);
  margin-block-start: 6vh;
  /* height: 100vh; */
  background-color: light-dark(var(--stone-3), var(--stone-11));

  .container {
    inline-size: 100%;
    block-size: 100%;
    display: grid;
    align-items: center;
    gap: clamp(1rem, 5vw, 10rem);

    @media (min-width: 768px) {
      grid-template-columns: 1fr auto;
    }

    .section-start {
      h2 {
        font-weight: 700;
        width: max-content;
        text-box: trim-start cap alphabetic;
        font-size: clamp(2.8rem, 8vw, 6.5rem);
      }
      p {
        /* text-indent: 3rem; */
        /* text-align: justify;
        hyphens: auto; */
        max-width: 580px;

        &::first-letter {
          color: var(--accent);
          -webkit-initial-letter: 2;
          initial-letter: 2;
          font-weight: 700;
          margin-inline-end: .5rem;
        }
      }
    }

    .section-end {
      h3 {
        font-size: clamp(1.5rem, 5vw, 3rem);
      }

      & ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5vh;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          --opacity: 30%;
          display: flex;
          aspect-ratio: 3 / 2;
          justify-content: flex-start;
          align-items: center;
          background-color: color-mix(in srgb, var(--surface-1), transparent var(--opacity));
          color: var(--muted-text);
          padding: clamp(1rem, 5vw, 3rem);

          border-radius: 20px;
          @supports(corner-shape: squircle) {
            border-radius: 40px;
            corner-shape: squircle;
          }

          &:hover {
            --opacity: 0%;
          }
        }
      }
    }
  }
}