.intro {
  padding-block: clamp(1rem, 2vw, 4rem) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;


  .bg-text {
    font-size: .9rem;
    line-height: 1.3;
    color: var(--muted-text);
    text-shadow: 0 0 4px var(--surface-1);
    padding-block: .75rem;
    font-weight: 600;

    position: sticky;
    top: clamp(1rem, 2vw, 4rem);
  }

  /* border-bottom: 1px solid light-dark(var(--stone-3), var(--stone-11)); */
  .name {
    margin-block-start: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & h1 {
      --line-width: 1px;
      --line-color: var(--muted-text);
      font-weight: 700;
      font-size: clamp(2.5rem, 7vw, 10rem);

      line-height: 1.2;
      @media (min-width: 992px) {
        line-height: 1;
      }

      -webkit-text-stroke-width: var(--line-width);
      -webkit-text-stroke-color: var(--line-color);

      text-stroke: var(--line-width) var(--line-color);
      color: transparent;

      @media (min-width: 992px) {
        --line-width: 2px;
      }

      & em {
        -webkit-text-fill-color: currentColor;
        text-stroke: none;
        -webkit-text-stroke-width: 0;

        transition: color .5s var(--ease-1);
        color: var(--muted-text);

        /* &:hover, */
        &.reversed {
          color: var(--accent);

          [data-effect="text-hover"] {
            padding-inline-end: 0.5rem;
            margin-inline-end: -0.5rem;
          }
        }

        &:hover:not(.reversed) {
          color: var(--accent);
        }
      }

      &:has(em:not(.reversed):hover) {
        .reversed {
          color: var(--muted-text);
        }
      }
    }
  }

  & h2 {
    font-weight: 400;
  }

  .good-at {
    color: light-dark(var(--stone-5), var(--stone-7));
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }

  .what-i-do {
    margin-block-start: clamp(1rem, 2vw, 1.8rem);
  }

  .side-bar {
    position: absolute;
    z-index: 0;
    right: clamp(1rem, 5vw, 10rem);
    top: clamp(1rem, 5vw, 10rem);
    /* bottom: calc(clamp(1rem, 2vw, 4rem) + 4rem); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-4);
    padding-block: var(--size-3);
    font-size: .9rem;

    @media (max-width: 500px) {
      display: none;
    }

    &::before, &::after {
      content: '';
      display: block;
      width: 2px;
      height: 16vh;
      background-color: var(--muted-text-2);
    }
  }

  .tategaki {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    color: var(--muted-text-2);
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 1;
  }
}