.intro {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* border-bottom: 1px solid light-dark(var(--stone-3), var(--stone-11)); */
  .name {
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & h1 {
      font-weight: 500;
      /* color: light-dark(var(--stone-5), var(--stone-7));
          
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: light-dark(var(--stone-5), var(--stone-7));
      
      -webkit-text-fill-color: transparent;
      text-stroke: 2px light-dark(var(--stone-5), var(--stone-7)); 
      color: transparent; */

      background: linear-gradient(var(--top), var(--bottom));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & h2 {
    font-weight: 200;
  }

  .good-at {
    color: light-dark(var(--stone-5), var(--stone-7));
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }

  .what-i-do {
    margin-block: clamp(1rem, 2vw, 1.8rem);
  }

  .quick-contacts {
    display: flex;
    justify-content: flex-start;

    .container {
      anchor-name: --contact-heilight;
      padding-inline: var(--size-2);

      .heilight {
        position-anchor: --contact-heilight;
        position: absolute;
        top: anchor(top);
        left: anchor(left);
        bottom: anchor(bottom);
        right: anchor(right);
        background-color: light-dark(var(--stone-5), var(--stone-7));
        border: 3px double light-dark(var(--stone-2), var(--stone-10));
        
        /* --top: light-dark(var(--stone-2), var(--stone-7));
        --bottom: light-dark(var(--stone-7), var(--stone-7));
        background-image: linear-gradient(var(--top), var(--bottom));
        box-shadow: inset 0 1px 1px var(--stone-0); */

        transition: all .7s var(--ease-spring-3);
        border-radius: 12px;

        @supports(corner-shape: squircle) {
          border-radius: 120px;
          corner-shape: squircle;
        }
      }
    }

    .buttons-group {
      /* anchor-name: --popover; */
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      justify-content: center;
      align-items: center;

      & li {
        & button {
          padding: 0;
          border: none;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          color: light-dark(var(--stone-0), var(--stone-11));
          padding: var(--size-2) var(--size-3);
          cursor: pointer;

          /* background: linear-gradient(var(--top), var(--bottom));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; */

          &:hover {
            anchor-name: --contact-heilight;
          }
        }
      }
    }

    & [popover] {
      --duration: .6s;
      position: fixed;
      box-shadow: var(--shadow-2);
      border: none;
      /* bottom: anchor(top);
      left: anchor(right); */
      border-radius: 30px;
      --top: light-dark(var(--stone-0), var(--stone-9));
      --bottom: light-dark(var(--stone-3), var(--stone-10));
      background-image: linear-gradient(var(--top), var(--bottom));
      padding: 0;

      @supports (position-area: top span-right) {
        position-area: top span-right;
        position-try-fallbacks: flip-block, flip-inline;
      }

      @supports (corner-shape: squircle) {
        border-radius: 60px;
        corner-shape: squircle;
      }

      opacity: 0;
      transform: scale(0);
      transform-origin: bottom left;
      /* transition: 
        opacity 0 ease,
        transform 0 ease; */

      &:popover-open {
        opacity: 1;
        transform: scale(1);
        transition: 
          opacity var(--duration) var(--ease-spring-3),
          transform var(--duration) var(--ease-spring-3);

        @starting-style {
          opacity: 0;
          transform: scale(0);
        }
      }

      @supports (corner-shape: squircle) {
        --duration: 1s;
        transition:
          opacity var(--duration) var(--ease-spring-3),
          transform var(--duration) var(--ease-spring-3),
          display var(--duration) allow-discrete,
          overlay var(--duration) allow-discrete;
      }
    }

    .popover-content {
      width: 80vw;
      max-width: 400px;
      padding: var(--size-5);

      & h2 {
        font-weight: 200;
      }

      .link {
        margin-block: var(--size-2);

        & a {
          display: inline-block;
          text-decoration: none;
          color: var(--accent);
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            scale: 0 1;
            opacity: 0;
            transform-origin: left center;
            height: 1rem;
            border-bottom: 3px double var(--accent);
            transition: scale .6s var(--ease-spring-3), opacity 0s linear .6s;
            overflow-y: clip;

          }

          &:hover::after {
            scale: 1;
            opacity: 1;
            transition: scale .6s var(--ease-spring-3), opacity 0s linear;
          }
        }
      }
    }
  }
}