.intro {
  padding-block: clamp(1rem, 2vw, 4rem) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;


  .bg-text {
    font-size: .9rem;
    line-height: 1.3;
    color: var(--muted-text);
    text-shadow: 0 0 4px var(--surface-1);
    padding-block: .75rem;

    position: sticky;
    top: clamp(1rem, 2vw, 4rem);
  }

  /* border-bottom: 1px solid light-dark(var(--stone-3), var(--stone-11)); */
  .name {
    margin-block-start: 16vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & h1 {
      font-weight: 700;
      font-size: clamp(2.8rem, 8vw, 10rem);

      line-height: 1.2;
      @media (min-width: 992px) {
        line-height: 1;
      }

      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: light-dark(var(--stone-5), var(--stone-7));

      text-stroke: 1px light-dark(var(--stone-5), var(--stone-7));
      color: transparent;

      & em {
        /* --top: light-dark(var(--stone-0), var(--stone-9));
        --bottom: light-dark(var(--stone-10), var(--stone-11)); */

        -webkit-text-fill-color: currentColor;
        text-stroke: none;
        -webkit-text-stroke-width: 0;

        transition: color .5s var(--ease-1);
        color: light-dark(var(--stone-7), var(--stone-6));

        /* background-image: linear-gradient(to bottom, var(--top), var(--bottom));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; */
        &:hover,
        &.reversed {
          /* --top: light-dark(var(--cyan-2), var(--cyan-8));
          --bottom: light-dark(var(--cyan-8), var(--cyan-8)); */
          color: var(--accent);
        }
      }

      &:has(em:not(.reversed):hover) {
        .reversed {
          color: light-dark(var(--stone-7), var(--stone-6));
          /* --top: light-dark(var(--stone-0), var(--stone-9));
          --bottom: light-dark(var(--stone-10), var(--stone-11)); */
        }
      }
    }
  }

  & h2 {
    font-weight: 400;
  }

  .good-at {
    color: light-dark(var(--stone-5), var(--stone-7));
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }

  .what-i-do {
    margin-block-start: clamp(1rem, 2vw, 1.8rem);
  }

  .side-bar {
    position: absolute;
    right: clamp(1rem, 5vw, 10rem);
    top: clamp(1rem, 2vw, 4rem);
    /* bottom: calc(clamp(1rem, 2vw, 4rem) + 4rem); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-4);
    padding-block: var(--size-3);
    font-size: .9rem;

    @media (max-width: 500px) {
      display: none;
    }

    &::before, &::after {
      content: '';
      display: block;
      width: 1px;
      height: 22vh;
      background-color: light-dark(var(--stone-5), var(--stone-9));
    }
  }

  .tategaki {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    color: var(--muted-text);
    letter-spacing: 4px;
  }
}