.quick-contact {
  position: sticky;
  top: 0;
  z-index: 5;

  .contacts {
    display: flex;
    justify-content: flex-start;

    .container {
      anchor-name: --contact-heilight;
      padding-inline: var(--size-2);

      .heilight {
        position-anchor: --contact-heilight;
        position: absolute;
        top: anchor(top);
        left: anchor(left);
        bottom: anchor(bottom);
        right: anchor(right);
        /* background-color: var(--muted-text-2);
        border: 2px solid var(--surface-2); */
        /* border: 2px solid light-dark(var(--stone-2), var(--stone-10)); */
/*
        --top: light-dark(var(--stone-5), var(--stone-7));
        --bottom: light-dark(var(--stone-8), var(--stone-10));
        background-image: linear-gradient(var(--top), var(--bottom));
        box-shadow: var(--shadow-2), inset 0 1px 1px light-dark(var(--stone-4), var(--stone-6));

        --top: light-dark(var(--cyan-3), var(--cyan-7));
        --bottom: light-dark(var(--cyan-7), var(--cyan-10));
        background-image: linear-gradient(var(--top), var(--bottom)); */
        background-color: var(--accent);
        box-shadow: 0 1px 1px light-dark(var(--cyan-8), var(--cyan-10)), inset 0 1px 1px light-dark(var(--cyan-3), var(--cyan-6));

        transition: all .7s var(--ease-spring-3);

        border-radius: 12px;
        @supports(corner-shape: squircle) {
          border-radius: 60px;
          corner-shape: squircle;
        }
      }
    }

    .buttons-group {
      /* anchor-name: --popover; */
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      justify-content: center;
      align-items: center;
      anchor-name: --contact-popover;

      & li {
        & button {
          padding: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: light-dark(var(--stone-0), var(--stone-11));
          padding: var(--size-2) var(--size-3);

          border-radius: 12px;
          @supports(corner-shape: squircle) {
            border-radius: 120px;
            corner-shape: squircle;
          }

          &:hover {
            anchor-name: --contact-heilight;
          }

          &:focus-visible {
            anchor-name: --contact-heilight;
            outline: 2px solid var(--accent);
            outline-offset: 2px;
          }
        }
      }
    }

    .popover-content {
      width: 80vw;
      max-width: 400px;
      padding: var(--size-3) var(--size-5) var(--size-4);
      position-anchor: --contact-popover;

      & h2 {
        font-size: clamp(1.2rem, 5vw, 3rem);
        font-weight: 400;
        color: var(--muted-text);
      }

      & p {
        color: var(--base-text);
      }

      .link {
        margin-block: var(--size-2);

        & a {
          display: inline-block;
          text-decoration: none;
          color: var(--accent);
          position: relative;


          border-radius: 12px;
          @supports(corner-shape: squircle) {
            border-radius: 120px;
            corner-shape: squircle;
          }

          &:focus-visible {
            outline: 2px solid var(--accent);
            outline-offset: 4px;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            scale: 0 1;
            opacity: 0;
            transform-origin: left center;
            height: 1rem;
            border-bottom: 3px double var(--accent);
            transition: scale .6s var(--ease-spring-3), opacity 0s linear .6s;
            overflow-y: clip;

          }

          &:hover::after {
            scale: 1;
            opacity: 1;
            transition: scale .6s var(--ease-spring-3), opacity 0s linear;
          }
        }
      }
    }
  }
}
