@layer utils, component, page;

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" layer(utils);
@import "https://unpkg.com/open-props" layer(utils);

@import "./effect.css" layer(component);

@import "./navigation.css" layer(page);
@import "./rotater.css" layer(page);
@import "./intro.css" layer(page);
@import "./quick-contact.css" layer(page);
@import "./about-me.css" layer(page);
@import "./work-history.css" layer(page);
@import "./contacts.css" layer(page);

:root {
  --top: light-dark(var(--stone-2), var(--stone-5));
  --bottom: light-dark(var(--stone-6), var(--stone-11));
  --font-custom: "Poppins", sans-serif;

  --surface-1: light-dark(var(--stone-2), var(--stone-10));
  --surface-2: light-dark(var(--stone-1), var(--stone-9));
  --base-text: light-dark(var(--stone-9), var(--stone-5));
  --muted-text: light-dark(var(--stone-8), var(--stone-7));
  --line-color: light-dark(var(--stone-5), var(--stone-7));
  --accent: light-dark(var(--cyan-6), var(--cyan-9));
  --popover-origin: bottom;
}

:where(html) {
  margin: 0;
  padding: 0;
  color-scheme: light dark;

  font-family: var(--font-custom);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--surface-1);
  color: var(--base-text);

  scroll-behavior: smooth;
  scroll-padding-block-start: 5vh;
}

@layer utils {
  :where(html) {
    scroll-timeline: --square-timeline y;
    /* Firefox supports the non-standard vertical/horizontal syntax */
    scroll-timeline: --square-timeline vertical;
    * {
      margin: 0;
      box-sizing: border-box;
    }
    /* h1 {
      font-size: clamp(2rem, 8vw, 10rem);
    } */
    h2 {
      font-size: clamp(2.2rem, 8vw, 5rem);
      color: var(--muted-text);
    }
    p {
      max-width: 40rem;
      /* font-size: clamp(1rem, 2vw, 1.3rem); */
    }
    button {
      background-color: transparent;
      cursor: pointer;
    }
  }
}

@layer component {
  :where(main > section) {
    padding: clamp(1rem, 2vw, 4rem) clamp(1rem, 5vw, 10rem);

    h2 {
      --line-width: 1px;
      --stroke-color: light-dark(var(--stone-8), var(--stone-6));
      --fill-color: color-mix(in srgb, var(--surface-1), transparent 90%);
      display: inline-block;
      font-size: clamp(2.2rem, 8vw, 5rem);
      /* color: var(--muted-text);

      -webkit-text-stroke-width: var(--line-width);
      -webkit-text-stroke-color: var(--stroke-color);
      text-stroke: var(--line-width) var(--stroke-color);

      color: var(--fill-color);
      transform-origin: right center;
      transition: transform 1s var(--ease-spring-3);

      --top: light-dark(var(--stone-3), var(--stone-7));
      --bottom: light-dark(var(--stone-9), var(--stone-7));
      background-image: linear-gradient(var(--top), var(--bottom));
      background-image: linear-gradient(var(--stroke-color) 0);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      background-clip: text;
      -webkit-background-clip: text;

      transition: background-size .7s var(--ease-bounce-2);

      animation: auto linear titleReveal both;
      animation-timeline: view();
      animation-range: entry 100% cover 50%;

      &:hover {
        background-size: 100% 100%;
      }

      @media (min-width: 992px) {
        --line-width: 2px;
      } */
    }
  }

  .not-in-view {
    position: fixed;
    width: 0;
    height: 0;
    top: -99999px;
    left: -99999px;
  }

  [popover] {
    --duration: .6s;
    --top: light-dark(var(--stone-0), var(--stone-9));
    --bottom: light-dark(var(--stone-4), var(--stone-11));

    position: fixed;
    border: none;
    border-radius: 30px;
    box-shadow: var(--shadow-2), inset 0 2px 2px light-dark(white, var(--stone-8));
    background-image: linear-gradient(var(--top), var(--bottom));
    padding: 0;

    opacity: 0;
    transform: scale(0);
    /* transform-origin: var(--popover-origin); */
    @supports (position-area: top span-right) {
      position-area: top span-right;
      position-try: --qc-flip-block, --qc-flip-inline;
    }

    @supports (corner-shape: squircle) {
      border-radius: 60px;
      corner-shape: squircle;
    }

    &:popover-open {
      opacity: 1;
      transform: scale(1);
      transition:
        opacity var(--duration) var(--ease-spring-3),
        transform var(--duration) var(--ease-spring-3);

      @starting-style {
        opacity: 0;
        transform: scale(0);
      }
    }

    @supports (animation-name: test-starting-style) {
      --duration: 1s;
      transition:
        opacity var(--duration) var(--ease-spring-3),
        transform var(--duration) var(--ease-spring-3),
        display var(--duration) allow-discrete,
        overlay var(--duration) allow-discrete;
    }
  }
}

@supports (position-area: bottom span-right) {
  @position-try --qc-flip-block {
    position-area: bottom span-right;
    --popover-origin: top;
  }

  @position-try --qc-flip-inline {
    position-area: top span-left;
    --popover-origin: bottom;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes titleReveal {
  from { opacity: 1; clip-path: inset(50% 50% 50% 50%); }
  to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
}
