.testimonial {
  padding-block: 0;
  min-height: 300vh;
  view-timeline-name: --timeline_name;
  view-timeline-axis: block;

  .t-group {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 100vh;
    padding-block-start: 12vh;

    display: grid;
    grid-template-rows: 1fr 1fr;

    .t-content {
      display: grid;
      grid-template-rows: auto 1fr;

      .message-container {
        overflow: clip;
        display: grid;
        place-content: stretch;
        position: relative;

        view-timeline-name: --card_name;
        view-timeline-axis: block;

        /* outline: 1px solid hotpink; */

        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: 2;
          left: 0;
          right: 0;
          height: 40%;
        }
        &::before {
          top: 0;
          background-image: linear-gradient(to bottom, var(--surface-1), var(--surface-1), transparent);
        }
        &::after {
          bottom: 0;
          background-image: linear-gradient(to top, var(--surface-1), var(--surface-1), transparent);
        }
      }

      .t-messages {
        position: absolute;
        inset: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        animation: auto linear messageReveal both;
        animation-timeline: --timeline_name;
        animation-range: entry 100% exit 0%;
        .message {
          flex: 0 0 100%;
          padding: var(--size-5);
          display: flex;
          justify-content: center;
          align-items: center;


          /* animation: auto linear cardReveal both;
          animation-timeline: --card_name;
          animation-range: entry 100% exit 100%; */
        }
      }
    }

    .t-footer {
      background-color: #00f1;
    }
  }
}

@keyframes messageReveal {
  form {
    translate: 0 0;
  }
  to {
    translate: 0 -300%;
  }
}