.work-history {
  --line-width: 1px;
  --stroke-color: var(--muted-text-2);
  --fill-color: transparent;
  padding-block: clamp(1rem, 5vw, 10rem);
  background-color: light-dark(var(--stone-2), var(--stone-10));
  scroll-margin-block-start: -10vh;
  overflow: clip;

  @media (min-width: 992px) {
    --line-width: 2px;
  }

  h2 {
    --stroke-color: var(--muted-text);
    text-box: trim-both cap alphabetic;
    font-size: clamp(2.5rem, 7vw, 10rem);

    position: sticky;
    z-index: 1;
    top: 40vh;

    color: var(--stroke-color);
    /* @supports(-webkit-text-stroke: 1px #fff) {
      -webkit-text-stroke: var(--line-width) var(--stroke-color);
      color: var(--fill-color);
    } */
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    scroll-padding-block-start: 10vh;

    .project-list {
      grid-column: 1 / 8;
      grid-row: 1 / 2;
      position: relative;
      z-index: 2;

      display: grid;
      place-items: stretch;
      align-items: center;
      pointer-events: none;

      & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        counter-reset: item;
        anchor-name: --project;
        padding-block: var(--size-3);
        /* background-color: color-mix(in srgb, var(--surface-1), transparent 20%); */

        & li {
          --padding: clamp(1rem, 3vw, 3rem);
          counter-increment: item;

          &:last-child {
            & hover-item::before {
              display: none;
            }
          }

          & hover-item {
            pointer-events: auto;
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr auto;
            font-size: clamp(1.2rem, 3vw, 4rem);
            line-height: 1.2;
            font-weight: 700;
            padding: var(--size-3) var(--padding);
            gap: var(--size-3);

            animation: auto linear itemReveal both;
            animation-timeline: view();
            animation-range: entry 0% cover 30%;

            position: relative;
            &::before {
              content: '';
              position: absolute;
              left: var(--padding);
              right: var(--padding);
              bottom: 0;
              height: 2px;
              background-color: var(--surface-dark);
              transition: opacity .6s var(--ease-3);
            }

            &::after {
              font-family: var(--font-mono);
              content: counter(item, decimal-leading-zero);
              color: var(--accent);
            }
          }
        }
      }
    }

    .project-container {
      grid-column: 3 / 7;
      grid-row: 1 / 2;

      position: relative;
      z-index: 3;
      width: 100%;
      min-height: 80vh;
      pointer-events: none;

      /* animation: auto linear projectReveal both;
      animation-timeline: view();
      animation-range: entry 0% cover 25%; */

      .project {
        --padding: clamp(1rem, 5vw, 5rem);
        width: 100%;
        height: 100%;
        padding: var(--padding);

        --bg: light-dark(var(--stone-3), var(--stone-11));
        background-color: color-mix(in srgb, var(--bg), transparent 20%);

        border-radius: 40px;
        @supports(corner-shape: squircle) {
          border-radius: 80px;
          corner-shape: squircle;
        }

        &[open] {
          display: grid;
        }

        &[default] {
          position: relative;
          z-index: 5;

          .placeholder {
            position: absolute;
            top: var(--padding);
            left: var(--padding);

            display: flex;
            justify-content: center;
            align-items: center;

            width: var(--size-9);
            aspect-ratio: 1;
            anchor-name: --project;
          }
        }

        .skills {
          display: grid;
          height: 100%;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto 1fr 1fr;
          gap: var(--padding);

          & h3 {
            justify-self: center;
            width: max-content;
            padding-inline: var(--size-3);
            grid-column: span 2;
            text-align: center;
            font-size: clamp(1.2rem, 2.8vw, 3rem);
            /* color: var(--muted-text); */
          }

          .group {
            /* padding: var(--size-3); */
          }
        }
      }
    }

    .project-list > ul > li:hover {
      & hover-item {
        anchor-name: --project;
      }
    }

    .project-list:has(hover-item:hover) {
      hover-item::before {
        transition: none;
        opacity: 0;
      }
    }

    .project-blob {
      position-anchor: --project;
      position: fixed;
      isolation: isolate;
      z-index: 1;
      top: anchor(top);
      left: anchor(left);
      bottom: anchor(bottom);
      right: anchor(right);

      transition: all 1s var(--ease-spring-3);

      /* background-color: color-mix(in srgb, var(--surface-1), transparent 20%); */

      background-color: light-dark(var(--stone-1), var(--stone-10));
      box-shadow: 0 1px 1px light-dark(var(--stone-4), var(--stone-11)), inset 0 1px 1px light-dark(white, var(--stone-7));

      border-radius: 12px;
      @supports(corner-shape: squircle) {
        border-radius: 30px;
        corner-shape: squircle;
      }
    }
  }
}

@keyframes projectReveal {
  from {
    translate: 0 25vh;
  }
  to {
    translate: 0 0;
  }
}

@keyframes itemReveal {
  from {
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%); */
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%); */
  }
}

