.work-history {
  --line-width: 1px;
  --stroke-color: var(--muted-text-2);
  --fill-color: transparent;
  padding-block: clamp(1rem, 5vw, 10rem);
  padding-block-start: min(12vh, 12vw);
  scroll-margin-block-start: -10vh;
  overflow: clip;
  background-color: light-dark(var(--stone-2), var(--stone-10));

  @media (min-width: 992px) {
    --line-width: 2px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--size-3);
  }


  .title {
    padding-inline-end: clamp(1rem, 4vw, 4rem);
    /* anchor-name: --project-detail; */

    h2 {
      width: min-content;
      font-size: clamp(2.5rem, 8vw, 10rem);
      color: var(--muted-text);
      line-height: 1;
      /* text-box: trim-start cap alphabetic; */
    }

    p {
      max-width: 400px;
      margin-block: var(--size-3);
    }
  }

  .projects {
    scroll-padding-block-start: 10vh;

    .project-list {
      position: relative;
      z-index: 2;

      display: grid;
      place-items: stretch;
      align-items: flex-start;
      pointer-events: none;

      & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        counter-reset: item;
        anchor-name: --project;
        padding-block: var(--size-2);
        /* background-color: color-mix(in srgb, var(--surface-1), transparent 20%); */

        & li {
          --padding: clamp(1rem, 2vw, 2rem);
          counter-increment: item;
          position: relative;

          &:last-child {
            & hover-item::after {
              display: none;
            }
          }

          /* &:not(:first-child) {
            & hover-view {
              display: none;
            }
          } */

          & hover-item {
            pointer-events: auto;
            cursor: pointer;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            font-size: clamp(1.2rem, 3vw, 4rem);
            line-height: 1.2;
            font-weight: 700;
            padding: var(--size-5) var(--padding);
            gap: var(--size-3);

            position: relative;
            &::after {
              content: '';
              position: absolute;
              left: var(--padding);
              right: var(--padding);
              bottom: 0;
              height: 1px;
              background-color: light-dark(var(--stone-3), var(--stone-10));
              transition: opacity .6s var(--ease-3);
            }

            &::before {
              font-family: var(--font-mono);
              content: counter(item, decimal-leading-zero);
              color: var(--accent);
            }

            & svg {
              color: var(--accent);
              opacity: 0;
            }

            &:hover svg {
              opacity: 1;
            }
          }

          & hover-view {
            --padding: clamp(1rem, 5vw, 5rem);
            position: fixed;
            z-index: 2;
            position-anchor: --project-detail;
            top: anchor(top);
            left: anchor(left);
            bottom: anchor(bottom);
            /* right: anchor(right); */

            display: grid;
            justify-content: stretch;
            align-items: center;
            padding: var(--size-2);

            &[open] {
              opacity: 1;
              scale: 1;
              z-index: 10;

              .display {
                scale: 1;
                rotate: var(--degree);
              }
            }

            .display {
              aspect-ratio: 9/6.5;
              height: 55vh;
              max-height: 420px;
              rotate: 0deg;
              padding: var(--size-3);

              background-color: light-dark(var(--stone-1), var(--stone-11));
              box-shadow: 0 2px 2px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-9));

              transition: all 1s var(--ease-spring-3);
              scale: 0.9;

              display: grid;
              grid-template-rows: 1fr auto;
              gap: var(--size-2);

              border-radius: 20px;
              @supports(corner-shape: squircle) {
                border-radius: 40px;
                corner-shape: squircle;
              }

              .browser {
                --control: 10px;
                width: 100%;
                overflow: clip;
                background-color: light-dark(#fff, #333);
                box-shadow: 0 1px 1px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-9));

                border-radius: 10px;
                @supports(corner-shape: squircle) {
                  border-radius: 20px;
                  corner-shape: squircle;
                }

                .bar {
                  width: 100%;
                  height: 30px;
                  display: grid;
                  grid-template-columns: .5fr 1fr .5fr;
                  justify-content: space-between;
                  align-items: center;
                  padding-inline: var(--size-2);

                  .controls {
                    display: flex;
                    gap: calc(var(--control) * 0.5);

                    & > div {
                      width: var(--control);
                      aspect-ratio: 1;
                      border-radius: 50%;

                      &.red {
                        background-color: rgb(236,103,101);
                      }
                      &.yellow {
                        background-color: rgb(242,202,68);
                      }
                      &.green {
                        background-color: rgb(101,196,102);
                      }
                    }
                  }

                  .search-bar {
                    height: 20px;
                    background-color: light-dark(#EEE, #444);

                    border-radius: 5px;
                  }
                }

                .content {
                  width: 100%;
                  aspect-ratio: 16/9;
                  overflow: hidden;

                  & img {
                    width: 100%;
                    height: auto;
                  }
                }
              }

              .project-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & h4 {
                  font-size: clamp(1rem, 2vw, 2rem);
                  color: var(--accent);
                }
  
                .tech-stacks {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: var(--size-3);
  
                  .logo {
                    width: 32px;
                    aspect-ratio: 1;
                    display: grid;
                    place-content: center;

                    img {
                      max-width: 100%;
                      max-height: 100%;
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .project-list > ul > li:hover {
      & hover-item {
        anchor-name: --project;
      }
    }

    .project-list:has(li:hover) {
      hover-item::after {
        transition: none;
        opacity: 0;
      }
    }

    .project-list:not(:has(li:hover)) {
      li hover-item svg {
        opacity: 1;
      }
    }

    .project-blob {
      position-anchor: --project;
      position: absolute;
      z-index: 1;
      top: anchor(top);
      left: anchor(left);
      bottom: anchor(bottom);
      right: anchor(right);

      transition: all 1s var(--ease-spring-3);

      background-color: light-dark(var(--stone-1), var(--stone-11));
      box-shadow: 0 1px 1px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(var(--stone-0), var(--stone-9));

      border-radius: 5px;
      @supports(corner-shape: squircle) {
        border-radius: 10px;
        corner-shape: squircle;
      }
    }
  }

  &:has(li:hover) {
    .title {
      anchor-name: --project-detail;
    }
  }
}

@keyframes projectReveal {
  from {
    scale: .5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes itemReveal {
  from {
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%); */
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%); */
  }
}

