.work-history {
  --line-width: 1px;
  --stroke-color: var(--muted-text-2);
  --fill-color: transparent;
  background-color: light-dark(var(--stone-2), var(--stone-10));

  @media (min-width: 992px) {
    --line-width: 2px;
  }

  h2 {
    --stroke-color: light-dark(var(--stone-8), var(--stone-6));
    position: sticky;
    z-index: 1;
    top: 40vh;
    font-size: clamp(2.2rem, 10vw, 10rem);
    font-size: clamp(2.5rem, 7vw, 10rem);
    line-height: 1.5;

    -webkit-text-stroke-width: var(--line-width);
    -webkit-text-stroke-color: var(--stroke-color);
    text-stroke: var(--line-width) var(--stroke-color);
    color: var(--fill-color);
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    scroll-padding-block-start: 10vh;
  }

  .project-list {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    position: relative;
    z-index: 2;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      gap: var(--size-1);

      & li {
        width: max-content;
        font-size: clamp(1.2rem, 3vw, 3rem);
        line-height: 1.2;
        font-weight: 700;
        color: var(--muted-text);
        padding: var(--size-2) var(--size-3);
        background-color: light-dark(var(--stone-4), var(--stone-11));
        transition: translate .5s var(--ease-spring-3);

        &:hover {
          translate: var(--size-5) 0;
        }

        > span {
          --shadow-color: var(--accent);
          cursor: pointer;
          display: block;
          padding-inline: var(--size-1);
          transform-origin: left center;
        }
      }
    }
  }

  .project-container {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    --duration: .6s;
    pointer-events: none;

    position: relative;
    z-index: 0;

    .project {
      display: none;
      width: 100%;
      min-height: 90vh;
      background-color: light-dark(var(--stone-3), var(--stone-11));
      padding: var(--size-5);

      & svg {
        color: var(--accent);
        max-width: 80%;
        height: 400px;
      }

      & img {
        max-width: 70%;
        aspect-ratio: 3 / 2;
        object-fit: contain;
        padding: 1rem;
        padding-bottom: 0;
      }

      & h3 {
        width: 100%;
        aspect-ratio: 3 / 2;
        background-color: light-dark(var(--stone-4), var(--stone-11));

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 20px;
        @supports(corner-shape: squircle) {
          border-radius: 50px;
          corner-shape: squircle;
        }
      }
    }
  }

  &:has(span:hover) {
    .project-container .project {
      @starting-style {
        opacity: 0;
      }
    }
  }

  &:not(:has(span:hover)) {
    .project-container .project[data-project="intro"] {
      display: flex;

      @starting-style {
        opacity: 0;
      }
    }
  }
  &:has(span[data-for="yomiuri"]:hover) {
    .project-container .project[data-project="yomiuri"] {
      display: flex;
    }
  }
  &:has(span[data-for="coremobile"]:hover) {
    .project-container .project[data-project="coremobile"] {
      display: flex;
    }
  }
  &:has(span[data-for="united-arrow"]:hover) {
    .project-container .project[data-project="united-arrow"] {
      display: flex;
    }
  }
  &:has(span[data-for="inhouse"]:hover) {
    .project-container .project[data-project="inhouse"] {
      display: flex;
    }
  }
  &:has(span[data-for="ec-cube"]:hover) {
    .project-container .project[data-project="ec-cube"] {
      display: flex;
    }
  }
  &:has(span[data-for="expenses"]:hover) {
    .project-container .project[data-project="expenses"] {
      display: flex;
    }
  }
}

@keyframes projectReveal {
  from {
    /* font-size: clamp(2.2rem, 8vw, 5rem); */
    color: light-dark(var(--stone-8), var(--stone-12));
  }
  to {
    /* font-size: clamp(2.2rem, 15vw, 15rem); */
    color: light-dark(var(--stone-4), var(--stone-11));
  }
}
