.work-history {
  --line-width: 1px;
  --stroke-color: var(--muted-text-2);
  --fill-color: transparent;
  padding-block: clamp(1rem, 5vw, 10rem);
  padding-block-start: 12vh;
  scroll-margin-block-start: -10vh;
  overflow: clip;
  background-color: light-dark(var(--stone-2), var(--stone-10));

  @media (min-width: 992px) {
    --line-width: 2px;
  }

  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--size-3);

  .title {
    h2 {
      width: min-content;
      font-size: clamp(2.5rem, 7vw, 10rem);
      color: var(--muted-text);
      line-height: 1;
      /* text-box: trim-start cap alphabetic; */
    }

    p {
      max-width: 400px;
      margin-block-start: var(--size-3);
    }
  }

  .projects {
    scroll-padding-block-start: 10vh;

    .project-list {
      position: relative;
      z-index: 2;

      display: grid;
      place-items: stretch;
      align-items: flex-start;
      pointer-events: none;

      & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        counter-reset: item;
        anchor-name: --project;
        padding-block: var(--size-2);
        /* background-color: color-mix(in srgb, var(--surface-1), transparent 20%); */

        & li {
          --padding: clamp(1rem, 2vw, 2rem);
          counter-increment: item;
          position: relative;

          &:last-child {
            & hover-item::before {
              display: none;
            }
          }

          & hover-item {
            pointer-events: auto;
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr auto;
            font-size: clamp(1.2rem, 3vw, 4rem);
            line-height: 1.2;
            font-weight: 700;
            padding: var(--size-4) var(--padding);
            gap: var(--size-3);

            position: relative;
            &::before {
              content: '';
              position: absolute;
              left: var(--padding);
              right: var(--padding);
              bottom: 0;
              height: 1px;
              background-color: light-dark(var(--stone-3), var(--stone-10));
              transition: opacity .6s var(--ease-3);
            }

            &::after {
              font-family: var(--font-mono);
              content: counter(item, decimal-leading-zero);
              color: var(--accent);
            }
          }

          & hover-view {
            --padding: clamp(1rem, 5vw, 5rem);
            position: absolute;
            z-index: 2;
            top: 0;
            right: 6vw;
            width: 40vw;
            height: 40vh;
            display: grid;

            --bg: light-dark(var(--stone-1), var(--stone-11));
            background-color: color-mix(in srgb, var(--bg), transparent 5%);
            box-shadow: 0 2px 2px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-9));

            opacity: 0;
            scale: 0;
            translate: 0 calc(var(--index) * -12%);
            transition: all .2s var(--ease-3);

            border-radius: 5px;
            @supports(corner-shape: squircle) {
              border-radius: 10px;
              corner-shape: squircle;
            }

            &[open] {
              opacity: 1;
              scale: 1;
              transition: all .7s var(--ease-spring-3);
              /* animation: projectReveal .7s var(--ease-spring-3); */
            }
          }
        }
      }
    }

    .project-container {
      /* width: 100%; */
      min-width: 40vw;
      pointer-events: none;

      position-anchor: --project-detail;
      position: fixed;
      z-index: 3;
      right: calc(anchor(right) + 7vw);

      transition: all 1s var(--ease-spring-3);

      .project {
        --padding: clamp(1rem, 5vw, 5rem);
        width: 100%;
        height: 100%;
        padding: var(--padding);

        --bg: light-dark(var(--stone-1), var(--stone-11));
        background-color: color-mix(in srgb, var(--bg), transparent 5%);
        box-shadow: 0 2px 2px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(white, var(--stone-9));

        /* transform-origin: top right; */

        border-radius: 5px;
        @supports(corner-shape: squircle) {
          border-radius: 10px;
          corner-shape: squircle;
        }

        &[open] {
          display: grid;
        }

        &[default] {
          position: relative;
          z-index: 5;

          .placeholder {
            position: absolute;
            top: var(--padding);
            left: var(--padding);

            display: flex;
            justify-content: center;
            align-items: center;

            width: var(--size-9);
            aspect-ratio: 1;
            anchor-name: --project;
          }
        }

        .skills {
          display: grid;
          height: 100%;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto 1fr 1fr;
          gap: var(--padding);

          & h3 {
            justify-self: center;
            width: max-content;
            padding-inline: var(--size-3);
            grid-column: span 2;
            text-align: center;
            font-size: clamp(1.2rem, 2.8vw, 3rem);
            /* color: var(--muted-text); */
          }

          .group {
            /* padding: var(--size-3); */
          }
        }
      }
    }

    .project-list > ul > li:hover {
      /* anchor-name: --project-detail; */

      & hover-item {
        anchor-name: --project;
      }
    }

    &:has([data-anchor="top"]:hover) {
      .project-container {
        top: anchor(top);
      }
    }
    &:has([data-anchor="bottom"]:hover) {
      .project-container {
        bottom: anchor(bottom);
      }
    }

    /* .project-container {
      .project[open] {
        anchor-name: --project;
      }
    } */

    .project-list:has(hover-item:hover) {
      hover-item::before {
        transition: none;
        opacity: 0;
      }
    }

    .project-blob {
      position-anchor: --project;
      position: fixed;
      z-index: 1;
      top: anchor(top);
      left: anchor(left);
      bottom: anchor(bottom);
      right: anchor(right);

      transition: all 1s var(--ease-spring-3);

      /* background-color: color-mix(in srgb, var(--surface-1), transparent 20%); */

      background-color: light-dark(var(--stone-1), var(--stone-11));
      box-shadow: 0 1px 1px light-dark(var(--stone-4), var(--stone-12)), inset 0 1px 1px light-dark(var(--stone-0), var(--stone-9));

      border-radius: 5px;
      @supports(corner-shape: squircle) {
        border-radius: 10px;
        corner-shape: squircle;
      }
    }
  }
}

@keyframes projectReveal {
  from {
    scale: .5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes itemReveal {
  from {
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%); */
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%); */
  }
}

